@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps');

/* CSS Syntax:
  selector {
    property: value;
    property: value;
}
*/

/* Type selector */
p {
  font-size: 1em; /* default font size for most browsers */
  line-height: 1.5em; /*1em = 16px = height of font; */
}

figcaption {
  /*font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif;*/
  font normal 0.75/1.5em 'Elsie Swash Caps', cursive;
  color: #777; /* 0 = absence of light = black */
  text-align: right;
}

/* class selector (applied to as many elements as you like) */

/* light text to have clicker scripts with some light shadows */

.milk-text { /*select elements with class="milk-text" */
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
}

/* ID selector (apply to one unique element per page) */
/* make a box to surround the logo */
#logo { /* select elements with the id="logo" */
  background: aqua;
}

/* Descendent Selector */
#logo h1 {
  /* selects <h1> if inside the id="logo" */
  font-family: 'Clicker Script', cursive;
}

#logo h2 {
  font-family: 'Elisie Swash Caps', cursive;
}

/* pseudo class selectors */
/*the following is a combination of a decendant and a pseudo class selector */
#details a:link, #details a:visited {
  color: black:inherit;
  text-decoration: none;
}

#details a:hover {
  color: black;
  text-decoration: underline;
}

#details a:active {
  color: red;
}
